@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Parkinsans", sans-serif;
  font-weight: 400;
  display: flex;
  min-height: 100vh;
  background-color: #eeeeee;
}
button {
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  color: #00adb5;
  cursor: pointer;
}
.taskbar {
  width: 350px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222831;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.taskbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  color: #eeeeee;
  border-radius: 10em;
}
.taskbar-header img {
  width: 80px;
}
.taskbar-button {
  display: flex;
  padding: 15px;
  color: #eeeeee;
  background-color: #222831;
  border: none;
  text-align: left;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}
.taskbar-button:hover {
  color: #00adb5;
  background-color: #575757;
}
span {
  font-size: 14px;
}
.main-content {
  margin-left: 350px;
  padding: 20px;
  width: 100%;
}
.main-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
h1 {
  margin-bottom: 20px;
}
#addTaskBtn {
  background-color: #00adb5;
  color: #eeeeee;
  border-radius: 2em;
  margin: 1em 0;
}
#addTaskBtn:hover {
  background-color: #028e96;
}
.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo-text {
  display: flex;
  align-items: center;
  margin: 0 1em;
  flex-direction: column;
}
.header-logo-text img {
  width: 4em;
  background-color: #00adb5;
  border-radius: 50%;
  padding: 10px;
  margin: 1em;
}
strong {
  color: #e84545;
  font-size: 18px;
}
.line-through {
  text-decoration: line-through;
}
.divContainer {
  background-color: white;
  padding: 15px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* #taskModal {
  display: flex;
   don't set the display to flex on the dialogue
} */
.modal {
  /* display:none; */ /*nor ta set it to none*/
  position: absolute;
  top: 20%;
  left: 20%;
  width: 410px;
  height: 70%;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
.modal-content {
  background-color: white;
  padding: 20px;
  /* border-radius: 1px; */
  width: 400px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
}
#title,
#dueDate {
  width: 100%;
  padding: 15px 10px;
}
textarea {
  resize: none;
  height: 12em;
}
input[type="text"],
textarea,
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.form-buttons {
  text-align: right;
}
#taskBtn {
  background-color: #00adb5;
  color: #eeeeee;
}
.form-buttons button {
  border-radius: 2em;
}
button[type="button"] {
  background-color: #f44336;
  color: white;
}
.form-buttons button {
  border-radius: 2em;
}
